<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    {% load static %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'website/icons/website.ico' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}">

    <!--Scripts-->
    <script src='{% static 'website/js/base.js' %}'></script>
</head>

<body>
    <header class="jumbotron text-center">
        <h1>Single Page Application</h1>
        <p>with Django and JavaScript</p>
        <!--<button data-section="0" class='btn'>Home</button>-->
        <nav>
            <button data-id="1" class='section btn'>Contacto</button>
            <button data-id="2" class='section btn'>Quizz</button>
            <button data-id="3" class='section btn'>Comentarios</button>
            {% block user %}{% endblock user %}
        </nav>
    </header>
    <section id="content" class="container">
        <article class="row">
            {% block main %}
            <main class="col-sm">
                <div id="main-content" data-num="{{section}}">
                </div>
            </main>
            <aside class="col-sm">
                <div id="aside-content" data-num="{{section}}">
                </div>
            </aside>
            {% endblock main %}
        </article>
    </section>
    <footer>
        <img class="card-img load" src="{% static 'website/images/imagem.png' %}" alt="">
        <p>Django Example</p>
    </footer>
</body>

</html>