{% extends 'website/base.html' %}

{% block user %}
<a class="a btn btn-success" href="/user/login">{{user}}</a>
{% endblock user %}
{% block main %}

<main class="col-sm">
    <div id="main-content" data-num="{{section}}">
    </div>
</main>
<aside class="col-sm">
    <div id="aside-content" data-num="{{section}}">
        <h2></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui deleniti, corporis explicabo
            architecto quibusdam, ea sequi facilis consequuntur officiis, corrupti similique. Iure aperiam
            laboriosam illo alias iste totam qui vel!</p>
    </div>
</aside>

{% endblock main %}